{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser"
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "no-console": "off",
    "semi": 0,
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "interface",
        "format": ["PascalCase"]
      },
      {
        "selector": "typeAlias",
        "format": ["PascalCase"]
      }
    ],
    "no-undef": "off",
    "no-unused-vars": "off",
    "vue/no-unused-vars": "off",
    "vue/no-parsing-error": "off",
    "vue/no-unused-components": "off",
    "no-irregular-whitespace": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/typedef": "off",
    "@typescript-eslint/ban-types": [
      "error",
      {
        "types": {
          "String": true,
          "Boolean": true,
          "Number": true,
          "Symbol": true,
          "{}": true,
          "Object": true,
          "object": false,
          "Function": true
        },
        "extendDefaults": true
      }
    ]
  }
}
